<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
	var map;
	var markers = [];

	function initMap() {
	    var somewhereInTurkey = {lat: 39.55, lng: 32.50};
	    map = new google.maps.Map(document.getElementById('map'), {
	      zoom: 5,
	      center: somewhereInTurkey
	    });

	    {% for e in event_list %}
		var point =  new google.maps.LatLng("{{e.lat}}","{{e.lon}}");
		var contentString =  '<div id="content">'+
		'<p><b>Event Name: </b>'+'{{ e.title}}'+ '</p>'+
		'<p><b>Description: </b>' + '{{e.desc}}'+'</p>'+
		'<p><b>Lat: </b>' + ' {{e.lat}}' +'</p>'+
		'<p><b>Lon: </b>' + ' {{e.lon}}' +'</p>'+
		'<p><b>Location: </b>' + ' {{e.locname}}' +'</p>'+
		'<p><b>Category: </b>' + ' {{e.catlist}}' +'</p>'+
		'<p><b>Starttime: </b>' + '{{e.starttime}}' +'</p>'+
		'<p><b>Endtime: </b>' + '{{e.endtime}}' +'</p>'+
		'<p><b>TimetoAnnounce: </b>' + '{{e.timetoann}}' +
		'</p>'+
		'</div>';
		var infowindow = new google.maps.InfoWindow({
		    content: contentString	});
		var marker = new google.maps.Marker({
		    position: point ,
		    map: map,
		    title: 'Event'
		});
		markers.push(marker);
		google.maps.event.addListener(marker,'click', (function(marker, infowindow) {
		  return function() {
		    infowindow.open(map,marker);
		  };
		})(marker, infowindow));
	    {% endfor %}
	    var divDisplayAll = document.getElementById("divDisplayAll");
	    if (window.location.href == window.location.origin + "/eventmap/{{mapid}}/")
	    {
		divDisplayAll.style.display = "none";
	    }
	    else
	    {
		divDisplayAll.style.display = "block";
	    }

	}


	function search(){
	    var category = $("#searchform [name=category]").val();
	    var text = $("#searchform [name=text]").val();
	    var lattl = $("#searchform [name=lattl]").val();
	    var lontl = $("#searchform [name=lontl]").val();
	    var latbr = $("#searchform [name=latbr]").val();
	    var lonbr = $("#searchform [name=lonbr]").val();
	    var fromtime = $("#searchform [name=fromtime]").val();
	    var untiltime = $("#searchform [name=untiltime]").val();
	    var dict_ = {'category': category, 'text' : text, 'lattl' : lattl, 'lontl' : lontl, 
		'latbr' : latbr, 'lonbr' : lonbr, 'fromtime' : fromtime, 'untiltime' : untiltime}
	    
	    $.getJSON('', dict_, function(data) {
		    console.log(data.event_list);

//		if (data.result != "Success") {
//			return;
//		}
		for (var i = 0; i < markers.length; i++) {
		  markers[i].setMap(null);
		}
		for (i=0; i<data.event_list.length; i++) {

			e = data.event_list[i];

			var point =  new google.maps.LatLng(e['lat'],e['lon']);
			var contentString =  '<div id="content">'+
			'<p><b>Event Name: </b>'+e['title']+ '</p>'+
			'<p><b>Description: </b>' + e['desc']+'</p>'+
			'<p><b>Lat: </b>' + e['lat'] +'</p>'+
			'<p><b>Lon: </b>' + e['lon'] +'</p>'+
			'<p><b>Location: </b>' + e['locname'] +'</p>'+
			'<p><b>Category: </b>' + e['catlist'] +'</p>'+
			'<p><b>Starttime: </b>' + e['starttime'] +'</p>'+
			'<p><b>Endtime: </b>' + e['endtime'] +'</p>'+
			'<p><b>TimetoAnnounce: </b>' + e['timetoann'] +
			'</p>'+
			'</div>';
			var infowindow = new google.maps.InfoWindow({
			    content: contentString	});
			var marker = new google.maps.Marker({
			    position: point ,
			    map: map,
			    title: 'Event'
			});
			markers.push(marker);
			google.maps.event.addListener(marker,'click', (function(marker, infowindow) {
			  return function() {
			    infowindow.open(map,marker);
			  };
			})(marker, infowindow));

		}
	    });
	    var divDisplayAll = document.getElementById("divDisplayAll");
	    divDisplayAll.style.display = "block";
	}

    </script>

  </head>
  <body>
    <h3>You are viewing the map with id = {{mapid}} </h3>
    <div id="map"></div>
        <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY38ZsVQlO5rt1fcCJmuTOPC8qaqJ35wM&callback=initMap">
    </script>
    <div id="divDisplayAll" style="display: none;">
	<h4>Note: This is the result of a search. To display all the events, click 
	<a href="/eventmap/{{mapid}}/">here</a>
	.</h4>
    </div>
    <h3><a href="/eventmap/{{mapid}}/insertEvent/">InsertEvent</a></h3>
  </body>
  <head>
    <title> Event Map </title>
  </head>
  <body>
    <form name="form1" method="POST" >
    {% csrf_token %}
    <select name="eventToBeDeleted">
    {% for e in event_list %}
	<option value = "{{e.id}}">{{e.title}}</option>
    {% endfor %}
    </select>
    <button type="submit">Delete Event</button>
    </form>

    <form name="form2" action="updateEvent" method="get" >
    <select name="id" >
    {% for e in event_list %}
	<option value = "{{e.id}}">{{e.title}}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Update Event"/>
    </form>

  <form id="searchform" onSubmit="search();return false;" >
    <br><br>
    <label for "category">Search by category: </label>
    <input type="text" name = "category" id="category">
    <label for "text">text: </label>
    <input type="text" name = "text" id="text">
    <br><br>
    <label for "lattl">top left latitude: </label>
    <input type="text" size="4" name = "lattl" id="lattl">
    <label for "lontl">top left longitude: </label>
    <input type="text" size="4" name = "lontl" id="lontl">
    <label for "latbr">bottom right latitude: </label>
    <input type="text" size="4" name = "latbr" id="latbr">
    <label for "lonbr">bottom right longitude: </label>
    <input type="text" size="4" name = "lonbr" id="lonbr">
    <br><br>
    <label for="fromtime">From: </label>
    <input id="fromtime" type="datetime-local" name="fromtime">
    <label for="untiltime">Until: </label>
    <input id="untiltime" type="datetime-local" name="untiltime">
    <button type="submit" id="submitbutton" class="button">Search</button>
    <br><br>
    </form>
  </body>
</html>
 
          
    
