<!DOCTYPE html>
<html>
    <script>
	function initMap() {
        var somewhereInTurkey = {lat: 39.55, lng: 32.50};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: somewhereInTurkey
        });
	{% for e in event_list %}
            var point =  new google.maps.LatLng("{{e.lat}}","{{e.lon}}");
            var contentString =  '<div id="content">'+
            '<p><b>Event Name: </b>'+'{{ e.title}}'+ '</p>'+
            '<p><b>Description: </b>' + '{{e.desc}}'+'</p>'+
            '<p><b>Lat: </b>' + ' {{e.lat}}' +'</p>'+
            '<p><b>Lon: </b>' + ' {{e.lon}}' +'</p>'+
            '<p><b>Category: </b>' + ' {{e.catlist}}' +'</p>'+
            '<p><b>Starttime: </b>' + '{{e.starttime}}' +'</p>'+
            '<p><b>Endtime: </b>' + '{{e.endtime}}' +'</p>'+
            '<p><b>TimetoAnnounce: </b>' + '{{e.timetoann}}' +
            '</p>'+
            '</div>';
	    var infowindow = new google.maps.InfoWindow({
		content: contentString	});
            var marker = new google.maps.Marker({
                position: point ,
                map: map,
		title: 'Event'
            });
	    google.maps.event.addListener(marker,'click', (function(marker, infowindow) {
	      return function() {
		infowindow.open(map,marker);
	      };
	    })(marker, infowindow));
	{% endfor %}
      }
    </script>

  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>You are viewing the map with id = {{mapid}} </h3>
    <div id="map"></div>
        <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY38ZsVQlO5rt1fcCJmuTOPC8qaqJ35wM&callback=initMap">
    </script>
    <h3><a href="/eventmap/{{mapid}}/insertEvent/">InsertEvent</a></h3>
<form method="POST" >
{% csrf_token %}
<select name="eventToBeDeleted">
{% for e in event_list %}
    <option value = "{{e.id}}">{{e.title}}</option>
{% endfor %}
</select>
<button type="submit">Delete Event</button>
</form>
	</script>
     <a href="/eventmap/{{mapid}}/insertEvent">InsertEvent</a>
  </body>
  <head>
    <title> Event Map </title>
  </head>
  <body>
  <form action="."  method="get" >
      <br><br>
    <label for "category">Search by category: </label>
    <input type="text" name = "category" id="category">
    <input type="submit"value="Search"/>
    </form>
  </body>
</html>
 
          
    
