{% load staticfiles %}
<head>
  <link rel="stylesheet" href="{% static 'css/insertEvent.css' %}">
</head>
<form method="POST" >
{% csrf_token %}
{% if event %}
<h3> Updating the Event with title = {{event.title}} </h3>
<p> Lon: <input type="text" name="lonfield" value = "{{event.lon}}"> </p> 
<p> Lat: <input type="text" name="latfield" value="{{event.lat}}"></p>
<p> Location Name: <input type="text" name="locnamefield" value = "{{event.locname}}"> </p>
<p> Title: <input type="text" name="titlefield" value="{{event.title}}"></p>
<p> Description: <input type="text" name="descfield" value="{{event.desc}}"> </p>
<p> Category: <input type="text" name="categoryfield" value="{{event.catlist}}"></p>
<p> Starttime: <input type="datetime-local" name="starttimefield" value="{{starttime}}"></p>
<p> Endtime: <input type="datetime-local" name="endtimefield" value= "{{endtime}}"></p>
<p> TimetoAnnounce: <input type="datetime-local" name="timetoannfield" value="{{timetoann}}"></p>
<input type = "hidden" name= "event_id" value = "{{event.id}}">
<a href="/eventmap/{{mapid}}/" class="button">Cancel</a>
<button type="submit" class="button">Update</button>
{% endif %}

</form>
